@tailwind base;
@tailwind components;
@tailwind utilities;

/* next.js 기본 css 주석 처리
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

:root {
  font-family: var(--font-roboto), var(--font-noto-sans-kr);
}

.roboto {
  font-family: var(--font-roboto), var(--font-noto-sans-kr);
}

.roboto-serif {
  font-family: var(--font-roboto-serif), var(--font-noto-serif-kr);
}

.roboto-flex {
  font-family: var(--font-roboto-flex);
}

.noto-sans-kr {
  font-family: var(--font-noto-sans-kr);
}

.noto-serif-kr {
  font-family: var(--font-noto-serif-kr);
}

.exo-2 {
  font-family: var(--font-exo-2);
}
